nav li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  padding: 8px 0 0 0;
}

nav li i{
  list-style: none;
  display: inline-block;
  font-size: 20px;
}

nav ul {
  padding: 0;
}

nav a{
  color: white;
  a:hover {
    color: grey;
    text-decoration: none;
  }
}

.selected {
  background-color: #25a25a;
}

nav a:hover{
  text-decoration: none;
}

.logo_label {
  font-size: 9px;
}

.app_container {
  min-height: 100%;
  width: 100%;
}

.static_sidebar {
  display: none;
}

nav a:hover{
  text-decoration: none;
  color: white;
  background-color: #2ab766;
}

@media (min-width: 900px) {

  .app_container {
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    margin-bottom: 140px;
  }

  #navigation_controls {
    width: 75%;
    bottom: 0;
    left: 25%;
  }

  .static_sidebar {
    display: block;
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2ecc71;
    -webkit-box-shadow: -4px 0px 20px 3px rgba(12,48,14,1);
    -moz-box-shadow: -4px 0px 20px 3px rgba(12,48,14,1);
    box-shadow: -4px 0px 20px 3px rgba(12,48,14,1);
    z-index: 1000000;
  }

  .branding {
    font-family: "Arvo";
    font-size: 70px;
    color: white;
    position: fixed;
    width: 25%;
    top: 40%;
    text-align: center;
  }


}
