nav li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  padding: 8px 0 0 0;
}

nav li i{
  list-style: none;
  display: inline-block;
  font-size: 20px;
}

nav ul {
  padding: 0;
}

nav a{
  color: white;
  a:hover {
    color: grey;
    text-decoration: none;
  }
}

.selected {
  background-color: #25a25a;
}

nav a:hover{
  text-decoration: none;
}

.logo_label {
  font-size: 9px;
}

.app_container {
  height: 100%;
  width: 100%;
}

.static_sidebar {
  display: none;
}

@media (min-width: 800px) {

  .app_container {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
  }

  #navigation_controls {
    width: 60%;
    bottom: 0;
    left: 40%;
  }

  .static_sidebar {
    display: block;
    width: 40%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2ecc71;
    -webkit-box-shadow: -4px 0px 20px 3px rgba(12,48,14,1);
    -moz-box-shadow: -4px 0px 20px 3px rgba(12,48,14,1);
    box-shadow: -4px 0px 20px 3px rgba(12,48,14,1);
    z-index: 1000000;
  }


}
