// Place all the styles related to the giphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video_container {
    width: 100%;
    background-color: white;
    padding: 0 0 0 0;
}


.make_gif_display{
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 0px auto 20px auto;
  border-radius: 7px;
}

.giph_index_img_container {
  width: 100%;
  max-width: 260px;
  margin: 20px 20px 20px 20px;
  padding: 10px;
  background-color: #3498db;
  border-radius: 10px;
  img {
    width: 100%;
    border-radius: 5px;
  }
}

.giph_select_img_container {
  width: 100%;
  max-width: 260px;
  margin: 20px 20px 20px 20px;
  padding: 10px;
  background-color: gainsboro;
  border-radius: 10px;
  cursor: pointer;
  img {
    width: 100%;
    border-radius: 5px;
  }
}

.selected_giph {
  background-color: #3498db;
  cursor: default;
}

.button_hide {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  border: none;
}

.giph_index_container {
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 30px 30px 30px;

}

.gif_save_button {
  margin-bottom: 15px;
}
