// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static_pages_container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #2ecc71;
  color: white;
  h2 {
    color: white;
  }
  label {
    color: white;
  }
  .btn {
    margin-top: 40px;
  }
}


.sign_in_up_bar {
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  font-family: "Arvo";
  font-size: 20px;
  text-align: right;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: grey;
    text-decoration: none;
  }
}

.logo {
  float: left;
}

.welcome_main {
  position: absolute;
  top: 38%;
  width: 100%;
  text-align: center;
  font-family: "Arvo";
  h1 {
    font-size: 80px;
  }
}

body {
  padding: 0;
  margin: 0;
}
